@{
	ViewData["Title"] = "Home Page";
}

<head>
	<script src="https://unpkg.com/scrollreveal"></script>
</head>

<section id="Landing">
	<div class="container card" style="width:100%">
		<div class="text-center card-body">
			<img src="images/FlyKainin.png" height="300" />
			<h1>"Infinite, Pt. 1" Coming Soon!</h1>
		</div>
	</div>
</section>

<section id="FeaturedVideo">
	<div class="container">

	</div>
	<video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
	</video>
</section>