@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<div class="container-fluid card" style="width:100%">
    <div class="text-center card-body">
        <img src="images/FlyKainin.png" height="300" />
        <h1>"Infinite, Pt. 1" Coming Soon!</h1>
    </div>
</div>
